<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->
<body id="conteiner-geral">
  <header id="conteiner-1">
    <section id="conteiner-titulo">
      <h1>Bem vindo!!</h1>
    </section>
  </header>

  <form [formGroup]="loginForm" (ngSubmit)="logar()" id="conteiner-2">
    <div class="ion-padding">
      <ion-grid>
        <ion-row>
          <ion-col class="box-geral-input">            
              <ion-input formControlName="email" label="E-mail"labelPlacement="floating" type="email" placeholder="E-mail" class="box-input"></ion-input>         
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="box-geral-input"> 
              <ion-input formControlName="password"  label="Senha"labelPlacement="floating" type="password" placeholder="Senha" maxlength="8" class="box-input"></ion-input>            
          </ion-col>
        </ion-row>
        <ion-button expand="block" class="botao botao" type="submit"[disabled]="!loginForm.valid">Entrar</ion-button>
        <ion-button expand="block" class="botao" (click)="RegistroPag()">Cadastre-se</ion-button>
      </ion-grid>
    </div>
    <h2 id="h2-grupo">Create by grupo 5</h2>
  </form>
</body>