<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-img src="/Mercadindin/src/assets/images/mercadindin.png" ></ion-img>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input fill="solid" label="Nome de Usuário"labelPlacement="floating" type="text" placeholder="Nome de Usuário"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input fill="solid" label="Senha"labelPlacement="floating" type="text" placeholder="Senha"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-button expand="block" class="botao">Login</ion-button>
    <ion-button expand="block" class="botao" (click)="RegistroPag()">Não possui login? Cadastre-se</ion-button>
  </ion-grid>
</ion-content>