<ion-header>
  <ion-toolbar>
    <ion-buttons class="seta" slot="start">
      <ion-button [routerLink]="['/home']">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Desenvolvedores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="about-container">
    <h2 class="about-title">Devs</h2>
    <p class="about-text">
      Somos uma equipe de jovens desenvolvedores, cada um trazendo sua criatividade, dedicação e 
      paixão por tecnologia. Este projeto representa não apenas nossa visão de um produto funcional, 
      mas também a união de nossas habilidades para criar algo significativo. 
    </p>
  </div>
  <ion-grid>
    <ion-row class="developer-card" *ngFor="let dev of developers">
      <ion-col size="12" size-md="4">
        <ion-img [src]="dev.photo" alt="Foto de {{ dev.name }}"></ion-img>
      </ion-col>
      <ion-col size="12" size-md="8">
        <h2>{{ dev.name }}</h2>
        <div class="social-links">
          <div class="box_redes">
            <ion-icon name="logo-instagram"></ion-icon>
            <span>{{ dev.instagramUsername }}</span>
          </div>
          <div class="box_redes">
            <ion-icon name="logo-github"></ion-icon>
            <span>{{ dev.githubUsername }}</span>
          </div>
          <div class="box_redes">
            <ion-icon name="logo-linkedin"></ion-icon>
            <span>{{ dev.linkedinUsername }}</span>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>