<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fugaz+One&family=Host+Grotesk:ital,wght@0,300;1,300&family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Host+Grotesk:ital,wght@0,500;1,500&family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/src/app/home/home.page.html"></ion-back-button>
    </ion-buttons>
    <ion-title>Criar uma postagem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Botão para remover a imagem, mas ignorar se a imagem for a padrão -->
  <ion-button color="danger" *ngIf="selectedImage && selectedImage !== defaultImage" (click)="removerImagem()">Remover Imagem</ion-button>

  <!-- Exibição da imagem selecionada ou imagem padrão -->
  <img [src]="selectedImage || defaultImage" *ngIf="selectedImage || !selectedImage" alt="Imagem do produto" />

  <!-- Botões Tirar Foto e Enviar Imagem lado a lado -->
  <ion-row *ngIf="!selectedImage">
    <ion-col size="6">
      <ion-button class="imp_foto" expand="full" (click)="tirarFoto()">Tirar Foto</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button class="imp_foto" expand="full" (click)="enviarImagem()">Enviar Imagem</ion-button>
    </ion-col>
  </ion-row>

  <!-- Input de arquivo para selecionar imagem -->
  <input type="file" (change)="imagemSelecionada($event)" accept="image/*" hidden id="inputArquivo"/>

  <!-- Input para o título do produto -->
  <ion-list>
    <ion-item>
      <ion-textarea
        label="Título do Produto"
        label-placement="floating"
        placeholder="Ex.: Arroz Branco - Marca X"    
        [(ngModel)]="productTitle"
        maxlength="35"
        required>
      </ion-textarea>
    </ion-item>

    <!-- Menu suspenso para seleção do mercado -->
    <ion-item>
      <ion-select
        label="Mercado"
        label-placement="floating"
        [(ngModel)]="selectedMarket"
        placeholder="Selecione um mercado">
        <ion-select-option *ngFor="let market of markets" [value]="market">{{ market }}</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Input para o preço -->
    <ion-item>
      <ion-textarea
        label="Preço"
        label-placement="floating"
        placeholder="Ex.: R$ 5,99"
        [(ngModel)]="productPrice"
        maxlength="15"
        required>
      </ion-textarea>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-textarea 
      label="Descrição" 
      label-placement="floating" 
      placeholder="Adicione uma descrição" 
      [(ngModel)]="description">
    </ion-textarea>
  </ion-item>

  <!-- Botão para salvar o post -->
  <ion-button expand="full" (click)="salvarPost()">Salvar Post</ion-button>
</ion-content>

