<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Criar uma postagem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Botão para remover a imagem, mas ignorar se a imagem for a padrão -->
  <ion-button color="danger" *ngIf="selectedImage && selectedImage !== defaultImage" (click)="removerImagem()">Remover Imagem</ion-button>

  <!-- Exibição da imagem selecionada ou imagem padrão -->
  <img [src]="selectedImage || defaultImage" *ngIf="selectedImage || !selectedImage" alt="Imagem do produto" />

  <!-- Botões Tirar Foto e Enviar Imagem lado a lado -->
  <ion-row *ngIf="!selectedImage">
    <ion-col size="6">
      <ion-button class="imp_foto" expand="full" (click)="tirarFoto()">Tirar Foto</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button class="imp_foto" expand="full" (click)="enviarImagem()">Enviar Imagem</ion-button>
    </ion-col>
  </ion-row>

  <!-- Input de arquivo para selecionar imagem -->
  <input type="file" (change)="imagemSelecionada($event)" accept="image/*" hidden id="inputArquivo"/>

  <!-- Input para o título do produto -->
  <ion-list>
    <ion-item class="itens_fora_modal">
      <ion-textarea
        label="Título do Produto"
        label-placement="floating"
        placeholder="Ex.: Arroz Branco - Marca X"    
        [(ngModel)]="productTitle"
        maxlength="35"
        required>
      </ion-textarea>
    </ion-item>

    <!-- Menu suspenso para seleção do mercado -->
    <ion-item class="itens_fora_modal" (click)="openMarketSelectModal()">
      <ion-label>Selecione o estabelecimento</ion-label>
      <ion-input [value]="selectedMarket" readonly></ion-input>
    </ion-item>
    
    <ion-modal [isOpen]="isModalOpen" (didDismiss)="closeModal()">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Selecionar Mercado</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="closeModal()">Fechar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
    
        <ion-content>
          <!-- Barra de pesquisa -->
          <ion-item class="pesquisa">
            <ion-input 
              [(ngModel)]="searchText" 
              placeholder="Pesquise um mercado" 
              (ionInput)="filterMarkets()">
            </ion-input>
            <ion-icon class="lupa" name="search-outline" slot="end"></ion-icon>
          </ion-item>
    
          <!-- Lista de mercados filtrados -->
          <ion-list>
            <ion-item *ngFor="let market of filteredMarkets" (click)="confirmSelection(market)">
              {{ market }}
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>
    
    <!-- Input para o preço -->
    <ion-item class="itens_fora_modal">
      <ion-textarea
        label="Preço"
        label-placement="floating"
        placeholder="Ex.: R$ 5,99"
        [(ngModel)]="productPrice"
        maxlength="15"
        required>
      </ion-textarea>
    </ion-item>

    <ion-item class="itens_fora_modal">
      <ion-textarea
        class="descricao" 
        label="Descrição" 
        label-placement="floating" 
        placeholder="Adicione uma descrição" 
        [(ngModel)]="description">
      </ion-textarea>
    </ion-item>
  </ion-list>

  <!-- Botão para salvar o post -->
  <ion-button class="enviar_post" expand="full" (click)="salvarPost()">Publicar</ion-button>
</ion-content>
