ion-content {
  --background: #BCC1BD;
}

ion-menu {
  --ion-background-color: #4F665C;
}

ion-list {
  --background: #4F665C;
}

ion-item {
  --background: #4F665C;
  --color: #ffffff; /* Para garantir que o texto continue visível */
}

ion-card{

  --background: #4F665C;

}

.list-md {

  background: #4F665C;

}

.menu-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  color: #f4d7c4;
  font-family: "Roboto Condensed", sans-serif;
}

.user-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #f4d7c4;
  cursor: pointer;
}

.user-photo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

ion-label {
  font-size: 16px;
  font-weight: bold;
}

#container {
  text-align: center;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  
}

#container a {
  text-decoration: none;
}
.canto {
  text-align: start;
}
.conteiner-botao-modal{
  text-align: center;
  background-color: transparent;
}
.img_card {
  max-width: 100%;
  height: auto;
}
.img_card_modal {
  width: 60%;
  margin: auto;
  display: block;
}
#conteiner-principal{
  justify-content: start;
  align-items: start;
}
ion-item {
  --padding-start: 0;
}

ion-title{
  text-align: center;
  margin: 0;
  width: 100%;
}

ion-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  --background: #2d3e39;
  color: #F4D7C4;
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
}

ion-fab-button {
  --background: #f1a501;
  --background-activated: #87d361;
  --background-hover: #a3e681;
  --border-radius: 30px;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --color: rgb(255, 255, 255);
}