#container {
  text-align: center;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  
}

#container a {
  text-decoration: none;
}
.canto {
  text-align: start;
}
.conteiner-botao-modal{
  text-align: center;
  background-color: transparent;
}
.img_card {
  max-width: 100%;
  height: auto;
}
.img_card_modal {
  width: 60%;
  margin: auto;
  display: block;
}
#conteiner-principal{
  justify-content: start;
  align-items: start;
}
ion-item {
  --padding-start: 0;
}

ion-toolbar {
  --background: #f1a501;
  --color: rgb(255, 255, 255);
}