<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fugaz+One&family=Host+Grotesk:ital,wght@0,300;1,300&family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
</head>

<body id="conteiner-geral">
  <header id="conteiner-1">
    <section id="conteiner-titulo">
      <h1 class="titulo">MercaDinDin</h1>
    </section>
  </header>

  <form [formGroup]="regForm" (ngSubmit)="register()" id="conteiner-2">
    <div class="ion-padding">
      <ion-grid>
        <h1 class="criar_titulo">Crie sua conta</h1>

        <!-- Campo Nome Completo -->
        <ion-row>
          <ion-col class="box-geral-input">
            <ion-input
              formControlName="fullname"
              label="Nome Completo"
              labelPlacement="floating"
              type="text"
              placeholder="Nome Completo"
              class="box-input"
              required>
            </ion-input>
          </ion-col>
        </ion-row>

        <!-- Campo E-mail -->
        <ion-row>
          <ion-col class="box-geral-input">
            <ion-input
              formControlName="email"
              label="E-mail"
              labelPlacement="floating"
              type="email"
              placeholder="E-mail"
              class="box-input"
              required>
            </ion-input>
          </ion-col>
        </ion-row>

        <!-- Campo Senha -->
        <ion-row>
          <ion-col class="box-geral-input">
            <ion-input
              formControlName="password"
              label="Senha"
              labelPlacement="floating"
              type="password"
              placeholder="Senha"
              maxlength="8"
              class="box-input"
              required>
            </ion-input>
          </ion-col>
        </ion-row>

        <ion-button expand="block" type="submit" [disabled]="!regForm.valid">Cadastrar</ion-button>
        <p class="retorno_login">Já possui conta?</p>
        <p class="retorno_login"><a routerLink="/login">Acesse sua conta</a></p>
      </ion-grid>
    </div>
    <h2 id="h2-grupo">Create by grupo 5</h2>
  </form>
</body>